<div class="span-9 download">
  <div class="left">
  <input id="item_downloads_attributes__position" name="item[downloads_attributes][][position]" size="1" type="text" value="1" />
  </div>
  <input id="item_downloads_attributes__data" name="item[downloads_attributes][][data]" size="22" type="file" />
  <a href="#" class="remove_download_new"><%= t('manage.products.common.remove') %></a>
</div>

