<div class="span-9 picture">
  <div class="left">
  <input id="item_pictures_attributes__position" name="item[pictures_attributes][][position]" size="1" type="text" value="1" />
  </div>
  <input id="item_pictures_attributes__data" name="item[pictures_attributes][][data]" size="22" type="file" />
  <a href="#" class="remove_picture_new"><%= t('manage.products.common.remove') %></a>
</div>

