<div class="prepend-3 span-16 append-3 last">
<%= title t("change_email.show.page_title"), :h2 %>
<hr class="plain"/>
<p><%= t("change_email.show.page_description_1", :new_email=>"#{@new_email}") %></p>
<p><%= t("change_email.show.page_description_2") %></p>
<hr class="plain"/>
</div>
