<!-- Left column here -->
<div id="left_column" class="span-1">&nbsp;</div>

<!-- Middle column here -->
<div id="middle_column" class="span-22">
<hr class="plain" />
<%= flash_messages %>
<%= yield :layout %>
</div>

<!-- Right column here -->
<div id="right_column" class="span-1 last">&nbsp;</div>
